.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  overflow:hidden;
  padding: 0;
  margin:0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.contain{
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
    padding: 40px 5%;
    
    margin: auto;
    height: 100%;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing h1{
   
  margin-top: 10%;
  text-align: center;
}
.marketing h2{
  margin-bottom: 45px;
  margin-top: 30px;
  text-align: center;
}

.info{
text-align: center;
font-size: 28px;
padding-top: 10px;
font-weight: lighter;

}

#logo1{
  cursor: pointer;
 position:relative;
 padding-left: 14px;
 padding-top: 4px;
}
#logo2{
  cursor: pointer;
 position: relative;
 margin-left: -10px;
 margin-top: -18px;
}
#iitlogo{
  position: absolute;
  top: 81%;
  left: 6%;
  width: 135px;
  height: 135px;
  border-radius: 8px;
  border:3px solid  rgb(119,158,203);
  box-sizing: content-box;
}

.nav-bg{
  background-color: #e3e3e3;
}
.navbar-custom{
  
  margin-left: -30%;
  margin-right: -41%;
}
.navbar-custom li a{
  padding-left:50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
font-size: 20px;
font-weight: bold;
font-family: helvetica;

}
.nav-style .navbar-nav > li > a {
    color:#000;
}
 .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus ,.navbar-nav > .active > a:active {
    color: #ffffff !important;
  background-color:#173e43 !important;
  border-radius: 5px !important;
  border:6px solid #fff !important;
}





      
.nav-style .navbar-nav > li > a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #173e43;
    border-radius: 15px;
    border:6px solid #fff;
}




#scroll_down{
  position: absolute;
  top: 91%;
  left: 47%;
  cursor: pointer;
  
    }



#shalogo{
  position: absolute;
  top: 80%;
  right: 4%;
  margin-bottom: 3%;
  width: 250px;
  height: 150px;
  border-radius: 8px;
  border:3px solid  rgb(119,158,203);
  box-sizing: content-box;

}
.tab{
  box-sizing: border-box; 
  margin-top:60%;
  min-height:100%;
  padding: 4%;
}

#tab1{


margin-left: -24%;
}


.jumbotron {
  left: 27%;
  padding: 1%;
  margin-right: 3%;
  margin-top: 6%;
  margin-bottom: 10%;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
 width: 40%;
 height: 50%;
box-sizing: content-box;


}
.form-group{
  padding-left: 4%;
}

.panel-title >a:hover, .panel-title >a:active,.panel-title >a:visited,.panel-title >a:focus{

  text-decoration: none;
}

#panelDiv{
  align-self: center;
  padding: 6%;
  width: auto;
}

.arrow {
     
     margin-left: 44%;
     cursor: pointer;
}

.arrow1{
  padding-top: -10%;
}
.arrow2{
  top: 80%;
  padding-bottom: 3%;
}



.sch>li{


list-style: none;
}

.schedule{

  margin-left: -25%;
}
.schedule>li{
  padding: 1%;
display: inline-block;
list-style: none;
}

.schedule>li>span{
  font-size: 20px;
}

.schedule>li>label{
  font-size: 20px;
}


.modal-content{
  
  border: 4px solid #e3e3e3;
  border-radius: 6px;
}

#myModalLabel{

  text-align: center;
}
#modalHead{
text-align: center;
font-size: 18px;
  
}
.modal-text{
  font-size: 22px;


}

.modalFormInput{
position:absolute;
width: 40%;
padding-left: 1%;
left: 40%;
  border-radius: 6px;

}

.btn-reg{

  font-size: 24px;
  margin-left: 40%;
  padding: 1%;
  margin-top: 20%;
  align-content: center;
  border-radius: 16px;
}




p.error
{
font-weight: bold;
font-size: 18px;
color: red;
font-style: helvetica;

}
input.error {
    border: 2px solid red !important;
}
input.error:focus {
    border: 2px solid red !important;
}
input.valid {
    border: 2px solid green !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
